<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/courses" method="POST">
        <form action="/admin/courses" method="POST">
            <label for="role">Role</label>
            <input type="text" name="role" required>
            
            <label for="title">Title</label>
            <input type="text" name="title" required>
            
            <label for="description">Description</label>
            <input type="text" name="description" required>
            
            <label for="price">Price</label>
            <input type="text" name="price" required>
            
            <button type="submit">Add Course</button>
        </form>
    </form>
</body>
</html>